@font-face {
    font-family: 'FuturaDemiC';
    src: url('FuturaDemiC.woff2') format('woff2'),
        url('FuturaDemiC.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FuturaMediumC';
    src: url('FuturaMediumC.woff2') format('woff2'),
        url('FuturaMediumC.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'AG_Futura';
    src: url('AGFutura.woff2') format('woff2'),
        url('AGFutura.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'AG_Futura';
    src: url('AGFuturaBold.woff2') format('woff2'),
        url('AGFuturaBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FuturaBookC';
    src: url('FuturaBookC.woff2') format('woff2'),
        url('FuturaBookC.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FuturaLightC';
    src: url('FuturaLightC.woff2') format('woff2'),
        url('FuturaLightC.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

