.main
    .container 
        .main-inner
            .main-col
                .main-col-wrap
                    .main__logo 
                        img(src="assets/images/logo.svg", alt="")
                    h1.main__title Познакомьтесь с&nbsp;красотой воды
                    a(href="#").main__button 
                        span Перейти в каталог
                        img(src="assets/images/arrow.png", alt="")
                .main__wave
                    img(src="assets/images/full.png", alt="")
            .main-col
                .main__img-wrapper
                    img(src="assets/images/main.jpg", alt="")
.hansgrohe
    .container
        .hansgrohe__inner 
            .hansgrohe__head 
                .hansgrohe__head-pic
                    <picture>
                        <source srcset="assets/images/hans1.png" media="(min-width: 768px)">
                        <img src="assets/images/hansgrohe-mob.png" alt="MDN">
                    </picture>
                span.hansgrohe__head-title Эксклюзивное предложение!
            .hansgrohe__main 
                .hansgrohe__main-col
                    span.hansgrohe__text.text Душевой комплект 
                    span.hansgrohe__name Hansgrohe SET Logis Loop
                    .hansgrohe__price
                        span.hansgrohe__price-new 18 490 ₽
                        span.hansgrohe__price-old 20 910 ₽
                .hansgrohe__main-col
                    span.hansgrohe__text.text Состав комплекта:
                    ul.hansgrohe__list
                        li.hansgrohe__list-item Смеситель для раковины
                        li.hansgrohe__list-item Смеситель для ванны с душем
                        li.hansgrohe__list-item Душевой  гарнитур
                    a(href="#").hansgrohe__button.button
                        span Купить
                        span.hansgrohe__button-icon
                            img(src="assets/images/basket.svg", alt="")
.sezon
    .container
        .sezon__wrap
            span.sezon__title.title Акция<br>«Сезон лучших цен»
            span.sezon__text Продукция hansgrohe по привлекательным ценам: проверенные хиты бренда и интересные новинки
            a(href="#").sezon__button.button
                span Смотреть все скидки
                span.button__icon
                    img(src="assets/images/arrow.png", alt="")
        .sezon__inner
            .sezon__product.js-scroll
                .sezon__product-wrap
                    .sezon__product-item
                        .sezon__product-pic.sezon__product-pic--sezon 
                            img(src="assets/images/loop.png", alt="")
                        span.sezon__product-text.text Душевой комплект
                        span.sezon__product-name Hansgrohe SET Logis Loop
                        .sezon__product-price 
                            span.sezon__product-price--new 18 490 ₽
                            span.sezon__product-price--old 29 990 ₽
                        a(href="#").sezon__product-button.button
                            span Купить
                            span.sezon__product-button-icon
                                img(src="assets/images/basket.svg", alt="")
                    .sezon__product-item
                        .sezon__product-pic.sezon__product-pic--sezon
                            img(src="assets/images/crometa.png", alt="")
                        span.sezon__product-text.text Душевая стойка
                        span.sezon__product-name Hansgrohe Crometta Е 240
                        .sezon__product-price 
                            span.sezon__product-price--new 35 600 ₽
                            span.sezon__product-price--old 42 130 ₽
                        a(href="#").sezon__product-button.button
                            span Купить
                            span.sezon__product-button-icon
                                img(src="assets/images/basket.svg", alt="")
                    .sezon__product-item
                        .sezon__product-pic.sezon__product-pic--sezon 
                            img(src="assets/images/logis.png", alt="")
                        span.sezon__product-text.text Гигиенический душ со смесителем
                        span.sezon__product-name Hansgrohe Logis SET
                        .sezon__product-price 
                            span.sezon__product-price--new 14 300 ₽
                            span.sezon__product-price--old 17 300 ₽
                        a(href="#").sezon__product-button.button
                            span Купить
                            span.sezon__product-button-icon
                                img(src="assets/images/basket.svg", alt="")
                    .sezon__product-item
                        .sezon__product-pic.sezon__product-pic--sezon
                            img(src="assets/images/crommeta_e.png", alt="")
                        span.sezon__product-text.text Душевой комплект
                        span.sezon__product-name Hansgrohe Crometta E
                        .sezon__product-price 
                            span.sezon__product-price--new 46 800 ₽
                            span.sezon__product-price--old 63 180 ₽
                        a(href="#").sezon__product-button.button
                            span Купить
                            span.sezon__product-button-icon
                                img(src="assets/images/basket.svg", alt="")
            .sezon__pic 
                img(src="assets/images/sezon.png", alt="")

.colection 
    .container 
        .colection__head 
            span.colection__title.title Новая коллекция
            a(href="#").colection__button.button
                span Перейти к коллекции
                span.button__icon
                    img(src="assets/images/arrow.png", alt="")
    .colection__bottom
        .colection-slider.swiper-container
            .swiper-wrapper 
                .swiper-slide
                    .container
                        .colection-wrap
                            .colection-slider__pic
                                .colection-slider__pic-wrap
                                    img(src="assets/images/colection1.jpg", alt="")
                            .colection__right 
                                span.colection__name--small Vernis
                                span.colection__name Форма
                                span.colection__text Две универсальные формы — круг и квадрат. Подходят любому интерьеру и удовлетворяют любому вкусу.
                                a(href="#").colection__button--hide.button
                                    span Перейти к коллекции
                                    span.button__icon
                                        img(src="assets/images/arrow.png", alt="")
                .swiper-slide
                    .container
                        .colection-wrap
                            .colection-slider__pic
                                .colection-slider__pic-wrap
                                    img(src="assets/images/colection2.jpg", alt="")
                            .colection__right 
                                span.colection__name--small Vernis
                                span.colection__name Ассортимент
                                span.colection__text Смесители и души Vernis Blend и Vernis Shape идеально дополняют друг друга. Доступные поверхности — хром и матовый черный.
                                a(href="#").colection__button--hide.button
                                    span Перейти к коллекции
                                    span.button__icon
                                        img(src="assets/images/arrow.png", alt="")

                .swiper-slide
                    .container
                        .colection-wrap
                            .colection-slider__pic
                                .colection-slider__pic-wrap
                                    img(src="assets/images/colection3.jpg", alt="")
                            .colection__right 
                                span.colection__name--small Vernis
                                span.colection__name Дизайн
                                span.colection__text Создатель коллекций Vernis Blend и Vernis Shape — всемирно известное дизайн-бюро PHOENIX Design.
                                a(href="#").colection__button--hide.button
                                    span Перейти к коллекции
                                    span.button__icon
                                        img(src="assets/images/arrow.png", alt="")
                .swiper-slide
                    .container
                        .colection-wrap
                            .colection-slider__pic
                                .colection-slider__pic-wrap
                                    img(src="assets/images/colection4.jpg", alt="")
                            .colection__right 
                                span.colection__name--small Vernis
                                span.colection__name Разумная цена
                                span.colection__text Прекрасное качество по привлекательной цене.
                                a(href="#").colection__button--hide.button
                                    span Перейти к коллекции
                                    span.button__icon
                                        img(src="assets/images/arrow.png", alt="")
                .swiper-slide
                    .container
                        .colection-wrap
                            .colection-slider__pic
                                .colection-slider__pic-wrap
                                    img(src="assets/images/colection5.jpg", alt="")
                            .colection__right 
                                span.colection__name--small Vernis
                                span.colection__name Экономия воды
                                span.colection__text Смесители с картриджем EcoSmart расходуют воду на уровне 5 л/мин, души Green — 6 л/мин.
                                a(href="#").colection__button--hide.button
                                    span Перейти к коллекции
                                    span.button__icon
                                        img(src="assets/images/arrow.png", alt="")
        .swiper-pagination
.sezon
    .container
        .sezon__wrap
            span.sezon__title.title Технология EcoSmart
            span.sezon__text Души и смесители hansgrohe с технологией EcoSmart расходуют на 60% меньше воды, чем обычные продукты. Это происходит благодаря аэратору, который подмешивает воздух в воду, и специальному ограничителю потока. Результат: мягкая, объемная водная струя.
            a(href="#").sezon__button.button
                span Перейти в каталог
                span.button__icon
                    img(src="assets/images/arrow.png", alt="")
        .sezon__inner 
            .sezon__product.js-scroll
                .sezon__product-wrap
                    .sezon__product-item
                        .sezon__product-pic 
                            img(src="assets/images/vernis.png", alt="")
                        span.sezon__product-text.text Душевая стойка
                        span.sezon__product-name Hansgrohe Vernis Blend
                        .sezon__product-price 
                            span.sezon__product-price--current 24 700 ₽
                        a(href="#").sezon__product-button.button
                            span Купить
                            span.sezon__product-button-icon
                                img(src="assets/images/basket.svg", alt="")
                    .sezon__product-item 
                        .sezon__product-pic 
                            img(src="assets/images/raindance.png", alt="")
                        span.sezon__product-text.text Верхний душ
                        span.sezon__product-name Hansgrohe Raindance E
                        .sezon__product-price 
                            span.sezon__product-price--current 50 140 ₽
                        a(href="#").sezon__product-button.button
                            span Купить
                            span.sezon__product-button-icon
                                img(src="assets/images/basket.svg", alt="")
                    .sezon__product-item
                        .sezon__product-pic 
                            img(src="assets/images/vario.png", alt="")
                        span.sezon__product-text.text Душевой гарнитур
                        span.sezon__product-name Hansgrohe Crometta Vario
                        .sezon__product-price 
                            span.sezon__product-price--current 4 950 ₽
                        a(href="#").sezon__product-button.button
                            span Купить
                            span.sezon__product-button-icon
                                img(src="assets/images/basket.svg", alt="")
                    .sezon__product-item
                        .sezon__product-pic 
                            img(src="assets/images/select.png", alt="")
                        span.sezon__product-text.text Душевая лейка
                        span.sezon__product-name Hansgrohe Raindance Select E
                        .sezon__product-price 
                            span.sezon__product-price--current 10 010 ₽
                        a(href="#").sezon__product-button.button
                            span Купить
                            span.sezon__product-button-icon
                                img(src="assets/images/basket.svg", alt="")
            .sezon__pic.sezon__pic--eco
                img(src="assets/images/eco_smart.jpg", alt="")
.technology
    .container
        span.technology__title.title Технологии комфорта в зоне мойки
    .technology__section
        .container
            .technology__inner 
                .technology__col 
                    .technology__pic
                        img(src="assets/images/technology-main.png", alt="")
                .technology__col.technology__col--right
                    span.technology__name Hansgrohe Metris Select
                    span.technology__text Интуитивно понятная кнопка Select, расположенная на переднем краю мойки, позволяет удобно включать и выключать воду одним нажатием. Вместе с функциональным вытяжным душем она делает работу на кухне максимально комфортной, в то время как инновационный монтажный короб sBox обеспечит полный порядок в шкафу и под мойкой.
                    a(href="#").technology__button.button
                        span Перейти к товарам
                .technology__wave
                    img(src="assets/images/technology-wave.png", alt="")
            
